.div{
    position: relative;
  }
  #patient-summary{
      margin: 0;
      position: absolute;
      top: 60%;
      left: 60%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  #box{
      overflow-y: scroll;
  }